version: '2'

tasks:
  code-checks:
    steps:
      - name: detect-secrets 
        when: false 
      - name: compliance-checks 
        when: false 
      - name: static-scan
        when: false
  code-build:
    displayName: "build"
    steps:
      - name: build-artifact
        displayName: "Instana Terraform Provider Publish"
        image: goreleaser/goreleaser:latest
        # image: icr.io/continuous-delivery/pipeline/pipeline-base-image:2.86
        # runAfter:
          # - setup
        securityContext:
          privileged: true
        script: |
          #!/usr/bin/env bash
          echo "################# Executing Script ####################"
          
          if [[ "$PIPELINE_DEBUG" == 1 ]]; then
            trap env EXIT
            env
            set -x
          fi

          cd $WORKSPACE/terraform-provider-instana

          go version
          goreleaser release --dry-run --clean
      - name: sign-artifact
        when: false
      - name: unit-test
        when: false
      - name: collect-evidence
        when: false
      - name: setup
        when: false
